node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
release.properties
dependency-reduced-pom.xml
build.log
.flattened-pom.xml

.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iws
*.iml
.classpath
.project
.settings/ 

.DS_Store
Thumbs.db

/cypress/videos/
/cypress/screenshots/
coverage/

*.tsbuildinfo